<div class="container rounded bg-white mt-5 mb-5 w-75">
  <div class="row" *ngIf="failed">
    <div class="col-12">
      <h3>Check your input data</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-3 border-right"></div>
    <div class="col-md-10 border-right">
      <div class="p-3 py-5">
        <div class="row mt-2">
          <form
            #myForm="ngForm"
            ngNativeValidate
            (ngSubmit)="onSubmit(myForm.value)"
          >
            <div class="col-12">
              <label class="labels">Date</label
              ><input
                type="date"
                name="date"
                ngModel
                class="form-control my-3"
                [min]="today"
                required
              />
              <input
                placeholder="Time"
                type="none"
                min="09:00"
                max="17:30"
                ngModel
                name="time"
                [ngxTimepicker]="with30Gap"
                required
              />
              <ngx-material-timepicker
                #with30Gap
                [minutesGap]="30"
              ></ngx-material-timepicker>
            </div>
            <div class="col-12">
              <label class="labels">Customers</label
              ><select name="customer" ngModel class="form-control" required>
                <option
                  *ngFor="let customer of customers"
                  value="{{ customer.cf }}"
                >
                  {{ customer.cf }}
                </option>
              </select>
            </div>
            <button class="btn btn-success mt-3" type="submit">Insert</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
