<div class="container-fluid rounded bg-white mt-5 mb-5 w-75">
  <div class="row" *ngIf="update">
    <div class="col-12">
      <h3>Update Fallito</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-10 border-right">
      <form
        #updateCustomer="ngForm"
        ngNativeValidate
        (ngSubmit)="onSubmit(updateCustomer.value)"
        class="p-3 py-5"
      >
        <div
          class="d-flex justify-content-between align-items-center mb-3"
        ></div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">Name</label
            ><input
              type="text"
              class="form-control"
              ngModel="{{ user.name }}"
              name="name"
              required
            />
          </div>
          <div class="col-md-6">
            <label class="labels">Surname</label
            ><input
              type="text"
              class="form-control"
              ngModel="{{ user.surname }}"
              name="surname"
              required
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Mobile Number</label
            ><input
              type="text"
              class="form-control"
              ngModel="{{ user.phoneNumber }}"
              name="phoneNumber"
              required
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Email</label
            ><input
              type="text"
              class="form-control"
              ngModel="{{ user.email }}"
              name="email"
              required
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Date Of Birthday</label
            ><input
              type="date"
              class="form-control"
              min="1910-01-01"
              ngModel="{{ user.dob | slice: 0:10 }}"
              name="dob"
              required
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Fiscal Code</label
            ><input
              type="text"
              class="form-control"
              minlength="16"
              [value]="user.cf"
              ngModel="{{ user.cf }}"
              name="cf"
              required
            />
          </div>
        </div>
        <div class="row my-3 ms-2">
          <div class="col-6">
            <button class="btn btn-primary" type="submit">Update</button>
          </div>
          <div class="col-6">
            <button class="btn btn-danger" (click)="deleteCustomer(user)">
              Delete
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
