<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email</th>
        <th scope="col">Date Of Birthday</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of customers">
        <td scope="row">{{el.name}}</td>
        <td>{{el.surname}}</td>
        <td>{{el.phoneNumber}}</td>
        <td>{{el.email}}</td>
        <td>{{el.dob|slice:0:10}}</td>
      </tr>
    </tbody>
  </table>
